PizzaExample/packages/EntityFramework.6.2.0/tools/about_EntityFramework.help.txt
PizzaExample/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.xml
PizzaExample/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.dll
PizzaExample/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.xml
PizzaExample/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.dll
PizzaExample/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.xml
PizzaExample/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.dll
PizzaExample/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.xml
PizzaExample/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.dll
PizzaExample/packages/EntityFramework.6.2.0/EntityFramework.6.2.0.nupkg
PizzaExample/packages/EntityFramework.6.2.0/Content/net40/Web.config.transform
PizzaExample/packages/EntityFramework.6.2.0/Content/net40/App.config.transform
PizzaExample/packages/Antlr.3.5.0.2/lib/Antlr3.Runtime.pdb
PizzaExample/packages/Antlr.3.5.0.2/lib/Antlr3.Runtime.dll
PizzaExample/packages/Antlr.3.5.0.2/Antlr.3.5.0.2.nupkg
PizzaExample/packages/bootstrap.3.3.7/content/fonts/glyphicons-halflings-regular.woff2
PizzaExample/packages/bootstrap.3.3.7/content/fonts/glyphicons-halflings-regular.woff
PizzaExample/packages/bootstrap.3.3.7/content/fonts/glyphicons-halflings-regular.ttf
PizzaExample/packages/bootstrap.3.3.7/content/fonts/glyphicons-halflings-regular.svg
PizzaExample/packages/bootstrap.3.3.7/content/fonts/glyphicons-halflings-regular.eot
PizzaExample/packages/bootstrap.3.3.7/content/Scripts/bootstrap.min.js
PizzaExample/packages/bootstrap.3.3.7/content/Scripts/bootstrap.js
PizzaExample/packages/bootstrap.3.3.7/content/Content/bootstrap.min.css.map
PizzaExample/packages/bootstrap.3.3.7/content/Content/bootstrap.min.css
PizzaExample/packages/bootstrap.3.3.7/content/Content/bootstrap.css.map
PizzaExample/packages/bootstrap.3.3.7/content/Content/bootstrap.css
PizzaExample/packages/bootstrap.3.3.7/content/Content/bootstrap-theme.min.css.map
PizzaExample/packages/bootstrap.3.3.7/content/Content/bootstrap-theme.min.css
PizzaExample/packages/bootstrap.3.3.7/content/Content/bootstrap-theme.css.map
PizzaExample/packages/bootstrap.3.3.7/content/Content/bootstrap-theme.css
PizzaExample/packages/bootstrap.3.3.7/bootstrap.3.3.7.nupkg
PizzaExample/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.4/Microsoft.AspNet.WebApi.HelpPage.5.2.4.nupkg
PizzaExample/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.4/Content/Areas/HelpPage/XmlDocumentationProvider.cs.pp
PizzaExample/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.4/Content/Areas/HelpPage/ModelDescriptions/EnumTypeModelDescription.cs.pp
PizzaExample/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.4/Content/Areas/HelpPage/ModelDescriptions/DictionaryModelDescription.cs.pp
PizzaExample/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.4/Content/Areas/HelpPage/ModelDescriptions/ComplexTypeModelDescription.cs.pp
PizzaExample/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.4/Content/Areas/HelpPage/ModelDescriptions/CollectionModelDescription.cs.pp
PizzaExample/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.4/Content/Areas/HelpPage/HelpPageConfigurationExtensions.cs.pp
PizzaExample/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.4/Content/Areas/HelpPage/HelpPageAreaRegistration.cs.pp
PizzaExample/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.4/Content/Areas/HelpPage/HelpPage.css.pp
PizzaExample/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.4/Content/Areas/HelpPage/Controllers/HelpController.cs.pp
PizzaExample/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.4/Content/Areas/HelpPage/App_Start/HelpPageConfig.cs.pp
PizzaExample/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.4/Content/Areas/HelpPage/ApiDescriptionExtensions.cs.pp
PizzaExample/packages/Microsoft.AspNet.WebApi.Core.5.2.4/lib/net45/System.Web.Http.xml
PizzaExample/packages/Microsoft.AspNet.WebApi.Core.5.2.4/lib/net45/System.Web.Http.dll
PizzaExample/packages/Microsoft.AspNet.WebApi.Core.5.2.4/Microsoft.AspNet.WebApi.Core.5.2.4.nupkg
PizzaExample/packages/Microsoft.AspNet.WebApi.Core.5.2.4/Content/web.config.transform
PizzaExample/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/System.Net.Http.Formatting.xml
PizzaExample/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/System.Net.Http.Formatting.dll
PizzaExample/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/netstandard2.0/System.Net.Http.Formatting.xml
PizzaExample/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/netstandard2.0/System.Net.Http.Formatting.dll
PizzaExample/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/net45/System.Net.Http.Formatting.xml
PizzaExample/packages/Microsoft.AspNet.WebApi.Client.5.2.4/lib/net45/System.Net.Http.Formatting.dll
PizzaExample/packages/Microsoft.AspNet.WebApi.Client.5.2.4/Microsoft.AspNet.WebApi.Client.5.2.4.nupkg
PizzaExample/packages/Microsoft.AspNet.WebApi.5.2.4/Microsoft.AspNet.WebApi.5.2.4.nupkg
PizzaExample/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
PizzaExample/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/System.Web.Optimization.dll
PizzaExample/packages/Microsoft.AspNet.Web.Optimization.1.1.3/Microsoft.AspNet.Web.Optimization.1.1.3.nupkg
PizzaExample/packages/Microsoft.AspNet.TelemetryCorrelation.1.0.0/lib/net45/Microsoft.AspNet.TelemetryCorrelation.xml
PizzaExample/packages/Microsoft.AspNet.TelemetryCorrelation.1.0.0/lib/net45/Microsoft.AspNet.TelemetryCorrelation.dll
PizzaExample/packages/Microsoft.AspNet.TelemetryCorrelation.1.0.0/content/net45/web.config.uninstall.xdt
PizzaExample/packages/Microsoft.AspNet.TelemetryCorrelation.1.0.0/content/net45/web.config.install.xdt
PizzaExample/packages/Microsoft.AspNet.TelemetryCorrelation.1.0.0/Microsoft.AspNet.TelemetryCorrelation.1.0.0.nupkg
PizzaExample/packages/Microsoft.AspNet.Razor.3.2.4/lib/net45/System.Web.Razor.xml
PizzaExample/packages/Microsoft.AspNet.Razor.3.2.4/lib/net45/System.Web.Razor.dll
PizzaExample/packages/Microsoft.AspNet.Razor.3.2.4/Microsoft.AspNet.Razor.3.2.4.nupkg
PizzaExample/packages/Microsoft.AspNet.Mvc.5.2.4/lib/net45/System.Web.Mvc.xml
PizzaExample/packages/Microsoft.AspNet.Mvc.5.2.4/lib/net45/System.Web.Mvc.dll
